# dependencies
node_modules

# next.js
.next
out
build

# env
.env
.env.local
.env.production

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# turbo
.turbo

# vscode
.vscode

# typescript
*.tsbuildinfo
